body, html{
    padding:0px;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}

#background{
    display: flex;
    flex-direction: column;
    background: url("img/Background.png") no-repeat;
    background-size: 100% 100%;
}

/* FORMS */

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 6px;
}

.wrapper {
    border: 20px solid rgba(0,0,0,0.4);
    border-radius: 10px;
}

label{
    display: flex; 
    border:2px solid #c6c6c6;
    border-radius: 6px;
    margin: 5px auto;
    font-size: 25px;
    cursor:text;
}

img.labelImg {
    border-right: 1px solid #ccc;
    width: 15px;
    height: 15px;
    padding: 8px 8px;
}

/* FORMS - INPUTS */

input[type="text"], input[type="password"], input[type="email"], input[list="cities"], input[type="tel"] {
    border: 0;
    border-radius: 3px;
    background: linear-gradient(to bottom right, #f4f4f4, #f0f0f0);
    font-size: 25px;
    color: #afafaf;
}

input[type="submit"]{
    margin: 5px auto;
    font-size: 20px;
    text-shadow: 1px 1px 2px #2b0100;
    color: white;
    height: 40px;
    border-radius: 5px;
    box-shadow : 1px 1px 5px #2b0100;
    width:250px;
    background: linear-gradient(to right,#92cf2a ,#46b401);
    border: 1px solid #3b9a00;
}

input.submitRed{
    background: linear-gradient(to right,#f55869 ,#f13b4a);
    border: 1px solid #a82c36;
}

/* CHECKBOX */

input[type="checkbox"]{
    display: flex;
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  label.checkBoxLabel{
      color: #9a9a9a;
      font-size: 20px;
      border:0;
      display: flex;
      cursor:pointer;
      float:left;
  }
  
  .checkMark{
      border: 2px solid #afafaf;;
      border-radius: 7px;
      width: 20px;
      height: 20px;
      background-color:white;
      margin: 3px;
  }
  
  label.checkBoxLabel:hover input ~ .checkMark{
      background-color: #eee;
  }
  
  label.checkBoxLabel input:checked ~ .checkMark:after{
      content: "";
      border-radius: 3px;
      display: flex;
      margin: 5px;
      height:10px;
      width:10px;
      background-color: #8ccc14;
  }


/* OTHER */

h1 {
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 0px #2b0100;
    text-align: center;
}

header {
    width:300px;
    margin: 10px auto;
    opacity: 0.6;
}

header:hover {
    opacity: 1;
}

footer {
    margin-top : 5%;
    width:250px;
    opacity: 0.2;
}




@media only screen and (min-width: 768px){

    #FirstSection, #SecondSection{
        display: flex;
        margin-left: 20%;
    }
    
    #SignInForm, #SecondSection_Right{    
        margin-left: 25%;
    }

    .submitRight > input[type="submit"]{
        width: 200px;
        margin: 5px;
    }
    
    input[type="submit"]:disabled{
        opacity:0.7;
    }

    input[type="submit"]:disabled:hover{
        background: linear-gradient(to right,#92cf2a ,#46b401);
    }

    .submitRed{
        background: linear-gradient(to right,#f55869 ,#f13b4a);
        border: 1px solid #a82c36;
    }

    input[type="submit"]:hover{
        background: linear-gradient(to right,#92cf2a ,#3ea200);
    }

    input.submitRed:hover{
        background: linear-gradient(to right,#f55869 ,#a82c36);
    }

}